.Rproj.user
.Rhistory
.RData
Analysis protocol European Survey of Enterprises on New and Emerging Risks.docx
BulkDownload_Guidelines.pdf
Comment_cleaning2.docx
Data_Dictionary.txt
EU survey of emerging risks esener2009_20090924_UKDA_Data_Dictionary.rtf
European Survey of Enterprises on New and Emerging Risks, 2009.tab.txt
Management staff's perception and attitude to emerging psychosocial problems.docx
Sweden study.Rproj
comment-data-cleaning.docx
eurosurv2009.csv
Analysis protocol European Survey of Enterprises on New and Emerging Risks (1).docx
employee-rep_questionnaire.pdf
management_questionnaire.pdf
techreport.pdf
Sweden-study.Rproj
report-basic-analysis.docx 
output-multivar.docx 
